/* Puntos de ruptura 
 *   Extra pequeño  |  móvil   |   tablet   |   portátil   |   escritorio  |  Extra grande
 *              575 | 576  767 | 768    991 | 992     1199 | 1200     1399 | 1400
 */

/** Colores ********************************************* **/
:root {
    --active: #c60;
    --black: #000;
    --emphasis: #393;
    --lightgray: #cccccc;
    --lightyellow: #ffc;
    --primary: #333;
    --white: #fff;
}
html{
    /* Establecemos el borde como parte de los bloques */
    box-sizing: border-box;
    font-size: 62.5%; /* Iguala 10px a 1rem */
}

*, *:before, *:after {
    box-sizing: border-box;
    color: var(--primary);
}

h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2.2rem;
}
h3{
    font-size: 2rem;
}
h4,h5,h6{
    font-size: 1.8rem;
}
pre{
    background-color: var(--lightgray);
    display: inline;
    font-size: 1.2rem;
    padding: 0 .5rem;
}

body{
    font-size: 16px;
    font-size: 1.6rem;
    margin: 0 auto;
    width: min(95%, 120rem);
}

article{
    margin: 4rem 0;
}

/** Header ********************************************* **/
header{
    border-bottom: solid .1rem var(--primary);
    margin-bottom: 2rem;
    padding: 0 0 2rem 0;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
@media (min-width: 576px){
    h1{
        font-size: 3.6rem;
    }
}
/** Navegador ********************************************** **/
nav#navegador-principal ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
nav#navegador-principal ul li {
    display: inline;
    list-style: none;
    margin: 0 10px;
}
nav#navegador-principal ul li a {
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
}
nav#navegador-principal ul li a:hover {
    color: var(--emphasis);
    text-decoration: underline;
}
.active{
    color: var(--active);
}
/** Footer ****************************** **/
footer{
    border-top: solid .1rem var(--primary);
    font-size: 1.4rem;
    margin: 2rem 0;
    padding: 2rem 0;
    text-align: center;
}
@media (min-width: 576px){
    footer{
        display: flex;
        justify-content: space-between;
    }
}

/** Utilidades globales ******************** **/

form{
    border: solid 1px var(--black);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    padding: 2rem;
}

.code{
    background-color: var(--black);
    color: var(--white);
    font-family: monospace;
    font-size: 1.2rem;
    padding: .5rem;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.enunciado{
    background-color: var(--lightyellow);
    border: solid 1px var(--black);
    border-radius: 12px;
    padding: 1rem;
}
.enunciado h4{
    padding: 0;
    margin: 0;
}