html{
    font-size: 62.6%;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-size: 1.6rem;
}

*, *:before, *:after{
    box-sizing: border-box;
}

header, fieldset{
    text-align: center;
}
header, section{
    margin: 0 auto;
    width: min(90%,120rem);
}